name: Build Wiki

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]
  workflow_dispatch:

jobs:
  build-neovim:
    defaults:
      run:
        working-directory: neovim
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: pnpm/action-setup@v2.2.2
        with:
          version: 7
      - name: Install dependencies
        run: pnpm install
      - name: Build and Export
        run: pnpm next build && pnpm next export
      - name: Upload to `gh-pages`
        run: |
          rm -rf neovim && mv out neovim
          git config --global user.email "${{ secrets.GITHUB_EMAIL }}"
          git config --global user.name "${{ env.gitname }}"
          git init && git add -A neovim && git commit -m "Build from GH Actions"
          git push -f https://${{ env.gitname }}:${{ secrets.GITHUB_TOKEN }}@github.com/${{ env.gitname }}/${{ env.reponame }}.git master:${{ env.gitbranch }}
        env:
          gitname: pysan3
          reponame: wiki-public
          gitbranch: gh-pages
        shell: bash
